<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <title>Oxaster - Dashboard</title>
        <link href="{{ url_for('static',filename='styles/main.css')}}" rel="stylesheet" type="text/css">
        <script src="{{ url_for('static',filename='js/jquery.min.js')}}"></script>
    </head>
    <body>
    <div class="section group">
      <div class="col first_row">
        <p class="title">Dashboard - Earthquakes in Romania</p>
      </div>
    </div>
    <div class="section group">
      <div class="col span_map" id="map">

      </div>
      <div class="col span_tweets" id="tweet_updates">
        <p class="upd">Live updates</p>
      </div>
    </div>

    <script type="text/javascript">
      $.getJSON( "http://127.0.0.1:5000/getTweets", function( data ) {
          $.each(data, function(i, tweet) {
            // Before we continue we check that we got data
            console.log(tweet);
            if(tweet.text !== undefined) {
            // Calculate how many hours ago was the tweet posted
            var date_tweet = new Date(tweet.created_at);
            var date_now   = new Date();
            var date_diff  = date_now - date_tweet;
            var hours      = Math.round(date_diff/(1000*60*60));

            // Build the html string for the current tweet
            var tweet_html = '<div class="twitter-tweet" style="font-family:Georgia;">';
             
            tweet_html    += tweet.text;
            tweet_html    += '<div class="tweet_hours">';
            tweet_html    += '<a href="http://www.twitter.com/';
            tweet_html    += tweet.user.name + '/status/' + tweet.id + '">' + hours;
            tweet_html    += ' minutes ago</a></div>';

            // Append html string to tweet_container div
            $('#tweet_updates').append(tweet_html);
          }
 
                  // // hide the loading message
                  // jQuery('#loadingmessage').hide(); 
            });
        });
    </script>

    <script type="text/javascript">
      // This example creates a simple polygon representing the Bermuda Triangle.

      var infoWindows = [];
      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 5,
          center: {lat: 45.886, lng: 25.268},
          mapTypeId: 'terrain'
        });

        var pairs = [];
        var unusedCenters = [];
        var notReachedVictims = [];

        $.ajaxSetup({
          async: false
        });

        $.getJSON( "http://127.0.0.1:5000/getDispatches2", function( data ) {
          $.each( data, function( key, val ) {
            pairs.push( val );
          });
        });
        $.getJSON( "http://127.0.0.1:5000/getIdleCenters2", function( data ) {
          $.each( data, function( key, val ) {
            unusedCenters.push( val );
            console.log(val)
          });
        });
        $.getJSON( "http://127.0.0.1:5000/getUnresolvedRegions2", function( data ) {
          $.each( data, function( key, val ) {
            notReachedVictims.push( val );
          });
        });

        var lineSymbol = {
          path: google.maps.SymbolPath.FORWARD_CLOSED_ARROW
        };

        for (var i = 0; i < pairs.length; i++) {
          var line = new google.maps.Polyline({
            path: [pairs[i][0], pairs[i][1]],
            geodesic: true,
            strokeColor: '#000000',
            strokeOpacity: 1.0,
            strokeWeight: 3,
            icons: [{
              icon: lineSymbol,
              offset: '100%'
            }],
          });
          var infowindow = new google.maps.InfoWindow();
          createListener(infowindow, line, String(pairs[i][2]), map)
          line.setMap(map);
        }

        for (var i = 0; i < unusedCenters.length; i++) {
          var circle = new google.maps.Circle({
            strokeColor: '#00FF00',
            strokeOpacity: 0.8,
            strokeWeight: 2,
            fillColor: '#00FF00',
            fillOpacity: 0.35,
            map: map,
            center: unusedCenters[i][0],
            radius: Math.sqrt(unusedCenters[i][1]) * 10000
          });
          var infowindow = new google.maps.InfoWindow();
          createListener(infowindow, circle, String(unusedCenters[i][1]), map)
          circle.setMap(map);
        }

        for (var i = 0; i < notReachedVictims.length; i++) {
          var circle = new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 0.8,
            strokeWeight: 2,
            fillColor: '#FF0000',
            fillOpacity: 0.35,
            map: map,
            center: notReachedVictims[i][0],
            radius: Math.sqrt(notReachedVictims[i][1]) * 10000
          });
          var infowindow = new google.maps.InfoWindow();
          createListener(infowindow, circle, String(notReachedVictims[i][1]), map)
          circle.setMap(map);
        }

      }

      function createListener(infowindow, obj, val, map) {
        obj.addListener('click', function (event) {
          infowindow.setPosition(event.latLng);
          infowindow.setContent(val);
          infowindow.open(map);
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAYVfuxXdZrD3D0FZAz53eKROpXCDFwYFQ&callback=initMap">
    </script>
    <div id="ttp" class="tooltip" vi>
    <span class="tooltiptext" id="ttptx">Tooltip text</span>
    </div>
    </body>
</html>
